# Default ignored files
/shelf/
/.idea/workspace.xml
/.idea/modules.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# Exclude Gradle and Build folders
/.gradle/
/build/

# Exclude application.properties to protect private info
/src/main/resources/application.properties